/* Todoitem.module.css */
@media (max-width: 768px) {
    /* Styles for smaller screens */
    .Todoitem {
        background-color: darksalmon;
    width: 200px;
    }
}

/* .Todoitem{
    background-color: darksalmon;
    width: 200px;
} */
.Todo{
    width :60px;
    background-color: darksalmon;
}
